<div class="main">
  <div class="inner">
    <div class="user__wrapper">

      <h2 class="page-heading">
        <%= "#{ @user.name}'s Schedule" %>
      </h2>
      <div class="user__card">
        <%= render partial: "schedules/schedule", collection: @user.schedules %>
      </div>
    </div>
  </div>
</div>