<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">New Schedule</h2>
        <%= render partial:"form", locals: { schedule: @schedule } %>
    </div>
  </div>
</div>